* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    background: #708cff;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.map {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url("./assests/sample-map.png");
    overflow: hidden;
}

.first {
    display: flex;
    justify-content: space-between;
}

.second {
    display: flex;
    justify-content: flex-end;

}

.last {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-top: auto;
    bottom: 10rem;
}

.icon {
    width: 48px;
    margin: 0.8em;
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 0px 5px);
}

.container {
    width: 50vw;
    max-width: 580px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 0.8rem;
    position: fixed;
    width: 100vw;
    /* height: 10rem; */
    bottom: 0;
    background-color: rgba(254, 254, 254, 0.9);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

.footer-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
}

.product {
    font-size: 1.5em;
    color: #333;
    font-weight: 700;
}

.date {
    color: #BBB;
    text-align: right;
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 1rem;
}

.prices {
    display: flex;
    justify-content: space-between;
}

.price {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: 700;
}

.label {
    text-align: center;
    color: #999;
    /* font-size: 0.8rem; */
    font-weight: 500;
}

.brand {
    text-align: center;
    color: #999;
    font-size: 0.8rem;
    font-weight: 500;
}

@media (max-width: 1160px) {

    .container {
        width: 85vw;
    }
}

@media (max-width: 400px) {

    .container {
        width: 95vw;
    }
}